<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="online-judge">
    <meta name="author" content="xdlove">

    <title>{{ title }}</title>

    <link rel="icon" href="">
    <link href="../static/modules/css/main.css" rel="stylesheet">
  </head>

  <body>
      <div class="container"> 
          <div class="bar_header">
          </div>

          <div class="bar_blue_nav">
              <div class="menu_holder">
                  <ul class="prodrop5">
                    <a href="#" class="white_link">Contest</a>
                  </ul>
              </div>

              <div class="holder_right">
                  <a href="#" class="white_link"> Signup</a>
                  <span class="nav_divider">|</span>
                  <a href="#" class="white_link bold">Login</a>
              </div>
          </div>
      </div>
  </body>

</html>
